    <a href="/hotels/{{_id}}" class="added-hotel">
        <img src="{{imageUrl}}" alt="hotel image" class="picture-added-hotel">
            <h3>{{name}}</h3>
            <span>{{rooms}}</span>
    </a>