        <section id="viewCatalog" class="background-img">
            
                {{#each hotels}}
                <div class="added-hotels">
                    {{>hotel}}
                </div>
                {{else}}
                 <div class="guest">
                    There are no Hotels found...
                </div>
                {{/each}} 
{{!-- 
                <a href="" class="added-hotel">
                    <img src="https://exp.cdn-hotels.com/hotels/1000000/910000/900600/900502/396468bc_z.jpg?impolicy=fcrop&w=500&h=333&q=medium" alt=""
                        class="picture-added-hotel">
                    <h3>Hilton Toronto</h3>
                    <span>Free rooms: 42</span>
                </a>
                <a href="" class="added-hotel">
                    <img src="https://media.hrs.com/media/image/09/81/0d/Holiday_Inn_AUCKLAND_AIRPORT-Auckland-Aussenansicht-4-66620_600x600.jpg"
                        alt="" class="picture-added-hotel">
                    <h3>Auckland Inn</h3>
                    <span>Free rooms: 35</span>
                </a>
                <a href="" class="added-hotel">
                    <img src="https://www.onfire.bg/data/uploads/originals/hotels/574/1fecc367b492bc64b5e3956280a2291d.jpg"
                        alt="" class="picture-added-hotel">
                    <h3>Hotel Berlin</h3>
                    <span>Free rooms: 15</span>
                </a> --}}
                        
        </section>